<?php

// PDO socket
// Or using socket would be even faster then 127.0.0.1 :3
define('POMF_DB_CONN', 'mysql:host=127.0.0.1;dbname=pomf');
// MySQL user and password
define('POMF_DB_USER', 'pomf');
define('POMF_DB_PASS', '******');

// Root location of files
define('POMF_FILES_ROOT', '/how/to/put/file');
// Maximum number of iterations while generating a new name
define('POMF_FILES_RETRIES', 30);
// URL to prepend to output (include trailing slash)
define('POMF_URL', 'http://conf.eeti.me/');

// Salt used for passwords
define('EETI_SALT', 'changeme');
// Password file location
define('EETI_AUTH_FILE', '../ups.txt');
// User preferences file location
define('EETI_USER_PREFS', '../userprefs.txt');

// Enable pastebin
define('EETI_ENABLE_PASTEBIN', true);
// Enable uploads
define('EETI_ENABLE_UPLOADS', true);
// Enable URL shortening
define('EETI_ENABLE_URLS', true);

// Enable the API
define('EETI_ENABLE_API', false);

$doubledots = array_map('strrev', array(
	'tar.gz',
	'tar.bz',
	'tar.bz2',
	'tar.xz',
	'user.js'
));

?>
